@import "bootstrap-sprockets";
@import "bootstrap";

#earthstagrams img.earthstagram{
  display:none;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin: auto;
  border-radius: 50%;
}
#earthstagrams img.active{
  display:block;
}

canvas, body, html {
  margin: 0px; 
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  position: absolute; 
  height: 100%;
  width: 100%;
}